<header [className]="isActive ? 'header active' : 'header inactive'">
  <div class="img-wrap">
    <img
      src="assets/images/Chicken Caesar Salad.jpg"
      alt="Chicken Caesar Salad"
    />
  </div>
  <div class="overlay">
    <div class="content-wrap">
      <h1 class="item__content__title">Chicken Caesar Salad</h1>
      <p class="item__content__description">
        Feta cheese, avocado slices, mashed avocado on toasted, sourdough bread
        with butter, topped with black pepper and olive oil.
      </p>
    </div>
  </div>
</header>
