<div class="header">
  <img src="assets/images/act.jpg" alt="act" />
  <div class="langs">
    <button class="btn btn--primary current-lang"><span class="lang">English</span><i class="fas fa-caret-down"></i></button>
    <ul class="options">
      <li><span>Arabic</span></li>
      <li><span>Bengali</span></li>
      <li><span>Portuguese</span></li>
      <li><span>Russian</span></li>
      <li><span>Japanese</span></li>
      <li><span>Chinese</span></li>
      <li><span>Hindi</span></li>
      <li><span>Spanish</span></li>
      <li><span>French</span></li>
      <li><span>Indonesian</span></li>
      <li><span>Dutch</span></li>
      <li><span>Italian</span></li>
      <li><span>Norwegian</span></li>
      <li><span>Polish</span></li>
      <li><span>Turkish</span></li>
      <li><span>Danish</span></li>
      <li><span>Swedish</span></li>
      <li><span>German</span></li>
    </ul>
  </div>
</div>
<div class="home">
  <h1>Where will you be eating your food.</h1>
  <div class="content-wrap">
    <div class="place">
      <div class="card">
        <a routerLink="/menu" class="img-wrap">
          <img src="assets/images/dinein.png" alt="ovio" />
        </a>
        <a class="btn" routerLink="/menu">
          <span>Dine In</span> <i class="fas fa-chevron-right"></i
        ></a>
      </div>
      <div class="card">
        <a routerLink="/menu" class="img-wrap">
          <img src="assets/images/takeaway.png" alt="ovio" />
        </a>
        <a class="btn" routerLink="/menu">
          <span>Take Away</span> <i class="fas fa-chevron-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
