<app-header></app-header>
<div class="menu">
  <div class="content-wrap">
    <nav class="main-nav">
      <div class="logo">
        <div class="img-wrap">
          <img src="assets/images/act.jpg" alt="act" />
        </div>
        <h1>Main Menu</h1>
      </div>
      <a routerLink="/your-order" class="btn btn--primary">Your Order</a>
    </nav>
    <div class="main-content">
      <aside class="sidebar">
        <app-navbar></app-navbar>
      </aside>
      <main class="content">
        <app-dishes></app-dishes>
      </main>
    </div>
  </div>
</div>
<app-myorder></app-myorder>
