<div class="title">
  <div class="content-wrap">
    <h1>My Order - Dine In</h1>
  </div>
</div>
<div class="order">
  <div class="content-wrap">
    <table class="table" *ngIf="dishItem">
      <tbody>
        <tr class="cart-item">
          <td>
            <div class="qty-update">
              <button>
                <i class="fa fa-minus"></i></button
              ><span class="f-11"><b>1</b></span
              ><button>
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </td>
          <td>
            <b class="ng-binding">{{ dishItem.title }}</b>
          </td>
          <td>
            <label class="text-center ng-binding">{{ dishItem.price }}</label
            ><label><i class="fa fa-minus-circle remove"></i></label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="actions">
  <div class="content-wrap">
    <div class="btns-wrap">
      <button routerLink="/menu" type="button" class="btn actions__btn">
        Cancel Order
      </button>
      <button routerLink="/checkout" type="button" class="btn actions__btn">
        Submit Order
      </button>
    </div>
  </div>
</div>
